---
import Navbar from '../components/Navbar.astro';
---

<div>
  <Navbar />
  <div class="container">
    <h1>Detalles del Producto</h1>
    <!-- Aquí se pueden agregar detalles específicos del producto si están disponibles -->
  </div>
</div>

<style>
  @import '/src/styles/products.css';
</style>
