---
interface Product {
  image: string;
  title: string;
  price: number;
}

// Se define el tipo de `product` y declara la propiedad
const { product }: { product: Product } = Astro.props;
---

<style>
    @import '/src/styles/products.css';
</style>

<div class="product-card">
  <img src={product.image} alt={product.title} />
  <div class="title">{product.title}</div>
  <div class="price">${product.price}</div>
</div>